<!-- resource for loading text area fields https://stackoverflow.com/questions/5117479/wtforms-how-to-prepopulate-a-textarea-field-->
{% extends "layout.html" %}
{% block content %}
<div class="edit-entry">
    <h2>Edit Entry</h2>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ field.label() }}
            {% if field.name == 'title' %}
                {{ field(value=post.title)}}
            {% elif field.name == 'date' %}
                {{ field(value=post.date.date().strftime("%m/%d/%Y")) }}
            {% elif field.name == 'timespent' %}
                {{ field(value=post.timespent) }}
            {% elif field.name == 'content' %}
                {% set f = field.process_data(post.post) %} 
                {{ field(value=post.post) }}
            {% elif field.name == 'resources' %}
            {% set f = field.process_data(post.resources) %}
                {{ field(value=post.resources) }}
            {% endif %}
           
        {% endfor %}
        <button type="submit" id="submit" class="button">Publish Edits!</button>
        <a href="{{ url_for('index') }}" class="button">Cancel</a>
    </form>
</div>

{% endblock %}