  
{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="new-entry">
    <h2>New Entry</h2>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ field.label() }}
            {{ render_field(field) }}
            
        {% endfor %}
        <button type="submit" id="submit" class="button">Post!</button>
        <a href="{{ url_for('index') }}" class="button">Cancel</a>
    </form>
</div>
{% endblock %}